---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: "${INSOLAR_NAMESPACE}"
generatorOptions:
  disableNameSuffixHash: true
bases:
  - https://github.com/insolar/gitops/assured-ledger/base
images:
  - name: insolar/assured-ledger
    newName: mylocalregistry:5000/assured-ledger
    newTag: ${INSOLAR_TAG}
