name: consensus-checks # consensus perfomance checks
on:
  push:
    branches:
      - master
  #pull_request:
  schedule:
    - cron: '0 2,4,6 * * *'
env:
  KUBECONFIG: "${{ github.workspace }}/k3s.yaml"
  GO_VERSION: 1.14
  CI_GOMAXPROCS: 0
  INSOLAR_LOG_LEVEL: warn
  GOTEST: 'gotestsum --'
  GOPATH: /home/runner/work/
  GOPROXY: https://proxy.golang.org,https://goproxy.io,direct
  CORE_PATH: /home/runner/work/assured-ledger/assured-ledger/ledger-core
  USE_MANIFESTS: ci
  KUBEVAL_VERSION: 0.15.0
jobs:
  consensus:
    name: consensus # don't change, this name is used in repository restricts!
    runs-on: ubuntu-latest
    steps:
      - name: Create short git sha and git ref vars
        id: set-vars
        uses: actions/github-script@v2
        with:
          script: |
            const shortSha = context.sha.substring(0, 8);
            let shortRef;
            if (context.ref.search(/^refs\/pull/) > -1) {
              shortRef = "pull-" + context.ref.match(/\d+/);
            } else {
              shortRef = context.ref.replace(/^refs\/(heads|tags)\//, "").replace(/\//g, "-");
            }
            const result = {
              shortSha: shortSha,
              shortRef: shortRef,
            }
            console.log(result);
            return result;
      - name: Checkout code
        uses: actions/checkout@master
      - name: Set up go ${{ env.GO_VERSION }}
        uses: actions/setup-go@v1
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: Add bin to path
        run: echo "::add-path::${{ env.GOPATH }}/bin"
      - name: Get kubeval
        run: |
          mkdir bin
          curl -L -s --create-dirs https://github.com/instrumenta/kubeval/releases/download/$KUBEVAL_VERSION/kubeval-linux-amd64.tar.gz | tar xvz --exclude='LICENSE' --exclude='README.md' -C $GITHUB_WORKSPACE/bin
          chmod +x $GITHUB_WORKSPACE/bin/kubeval
      - name: Add workspace/bin to path
        run: echo "::add-path::$GITHUB_WORKSPACE/bin"
      - name: Check resources
        run: |
          sudo lscpu
          free -h
      - name: Install k3s
        uses: insolar/k3s-gha@master
        with:
          custom_registry: true
          registries_yaml_path: "ledger-core/scripts/deploy/kube/ci/registries.yaml"
          kubectl_version: "v1.18.2"
      - name: Deploy k3s-registry
        run: kubectl apply -k ledger-core/scripts/deploy/kube/k3s-registry
      - name: Wait for registry to be up and running
        run: kubectl -n registry rollout status deploy/registry --timeout=80s
      - name: Deploy ingress
        run: make kube_apply_ingress
        working-directory: ${{ env.CORE_PATH }}
      - name: Build docker images
        run: make docker-build
        working-directory: ${{ env.CORE_PATH }}
      - name: Push assured ledger image to local registry
        run: |
          docker tag insolar/assured-ledger:latest localhost/assured-ledger:latest
          docker push localhost/assured-ledger:latest
      - name: Prepare environment
        run: |
          go mod download
          make vendor install-build-tools
        working-directory: ${{ env.CORE_PATH }}
      - name: Build kube-deploy-tool
        run: go build -o ./bin/kube-deploy-tool ./scripts/deploy/kube-deploy-tool
        working-directory: ${{ env.CORE_PATH }}
      - name: Run headless network and generate performance report
        env:
          KUBEDEPLOYTOOL_METRICPARAMS_WEBDAV_HOST: https://reports.garage.insolar.io
          KUBEDEPLOYTOOL_METRICPARAMS_WEBDAV_USERNAME: ${{ secrets.WEBDAV_USERNAME }}
          KUBEDEPLOYTOOL_METRICPARAMS_WEBDAV_PASSWORD: ${{ secrets.WEBDAV_PASSWORD }}
          KUBEDEPLOYTOOL_METRICPARAMS_WEBDAV_DIRECTORY: consensus-checks
          KUBEDEPLOYTOOL_KUBEPARAMS_ENV: ci
          KUBEDEPLOYTOOL_METRICPARAMS_GIT_COMMIT: ${{ fromJson(steps.set-vars.outputs.result).shortSha }}
          KUBEDEPLOYTOOL_METRICPARAMS_GIT_HEAD: ${{ fromJson(steps.set-vars.outputs.result).shortRef }}
        run: bin/kube-deploy-tool --config=scripts/deploy/kube-deploy-tool/config.yaml
        working-directory: ${{ env.CORE_PATH }}
      - name: Aggregate logs into a single archive
        if: always()
        run: tar --warning=no-file-changed -cvzf ${{ env.CORE_PATH }}/kube-nodes-output.tgz /tmp/insolar/logs/* || true
      - name: Upload logs to artifacts
        if: always()
        uses: actions/upload-artifact@v1
        with:
          name: kube-nodes-output
          path: ${{ env.CORE_PATH }}/kube-nodes-output.tgz
