name: master-checks # checks that should be executed only on master branch
on:
  pull_request:
#  push:
#    branches:
#      - master
#  schedule:
#    - cron: '0 2,4,6 * * *'
env:
  KUBECONFIG: k3s.yaml
  GO_VERSION: 1.14
  CI_GOMAXPROCS: 0
  INSOLAR_LOG_LEVEL: warn
jobs:
  tests-on-master:
    name: master-checks
    runs-on: ubuntu-latest
    env:
      GOPATH: /home/runner/work/assured-ledger/assured-ledger/go
    steps:
      - name: Checkout code
        uses: actions/checkout@master
        with:
          path: go/src/github.com/insolar/assured-ledger
      - name: Set up go ${{env.GO_VERSION}}
        uses: actions/setup-go@v2
        with:
          go-version: ${{env.GO_VERSION}}
      - name: Install Protoc
        uses: arduino/setup-protoc@master
      - name: Add bin to path
        run: echo "::add-path::${{env.GOPATH}}/bin"
      - name: Go mod cache setup
        uses: actions/cache@v2
        with:
          path: ${{env.GOPATH}}/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: Fetch dependencies
        run: |
          go mod download
          make vendor
        working-directory: ${{env.GOPATH}}/src/github.com/insolar/assured-ledger/ledger-core
      - name: Prepare test utils and check succesful build
        run: make install-build-tools pre-build proto build
        working-directory: ${{env.GOPATH}}/src/github.com/insolar/assured-ledger/ledger-core
      - name: Check if working directory is clean after build
        if: always()
        run: scripts/gitstatus.sh -v
        working-directory: ${{env.GOPATH}}/src/github.com/insolar/assured-ledger/ledger-core
      - name: Run unit and slow tests and check code coverage
        if: always()
        run: make test_with_coverage
        working-directory: ${{env.GOPATH}}/src/github.com/insolar/assured-ledger/ledger-core
      - name: Upload integration_extended_test.log to artifacts
        if: always()
        uses: actions/upload-artifact@v1
        with:
          name: integration_extended_test_master
          path: ${{env.GOPATH}}/src/github.com/insolar/assured-ledger/ledger-core/integration_extended_test.log
      - name: Upload coverage to Codecov
        if: always()
        run: bash <(curl -s https://codecov.io/bash) -f ledger-core/coverage.out -n coverage-report
        working-directory: ${{env.GOPATH}}/src/github.com/insolar/assured-ledger
      - name: Add coverage.html to artifacts
        if: always()
        uses: actions/upload-artifact@v1
        with:
          name: coverage-html
          path: ${{env.GOPATH}}/src/github.com/insolar/assured-ledger/ledger-core/coverage.html
      - name: Add coverage.out to artifacts
        if: always()
        uses: actions/upload-artifact@v1
        with:
          name: coverage-out
          path: ${{env.GOPATH}}/src/github.com/insolar/assured-ledger/ledger-core/coverage.out
      - name: Run functional tests multiple times with race detector
        if: always()
        env: # for testrail
          GOTEST: 'go test -json'
        run: make test_func_race > functional_test.log
        working-directory: ${{env.GOPATH}}/src/github.com/insolar/assured-ledger/ledger-core
      - name: Aggregate logs into a single archive
        if: always()
        run: tar --warning=no-file-changed -cvzf func-nodes-output.tgz .artifacts/launchnet/logs/discoverynodes/*/output.log || true
        working-directory: ${{env.GOPATH}}/src/github.com/insolar/assured-ledger/ledger-core
      - name: Run functional tests multiple times with race detector as local cloud
        if: always()
        run: make test_func_cloud_race > functional_test_cloud.log
        working-directory: ${{env.GOPATH}}/src/github.com/insolar/assured-ledger/ledger-core
      - name: Aggregate logs into a single archive
        if: always()
        run: tar --warning=no-file-changed -cvzf cloud-nodes-output.tgz .artifacts/launchnet/logs/discoverynodes/*/output.log || true
        working-directory: ${{env.GOPATH}}/src/github.com/insolar/assured-ledger/ledger-core
      - name: Run functional tests many times on `master` with reduced pulse time
        # if: always() # don't uncomment. this will rewrite logs of a previous run!
        run: make test_func_slow
        working-directory: ${{env.GOPATH}}/src/github.com/insolar/assured-ledger/ledger-core
      - name: Install testrail-cli
        if: always()
        run: |
          go get -v -u github.com/insolar/testrail-cli
          cd testrail-cli && go install cmd/testrail-assuredledger-cli/testrail-cli.go
        working-directory: ${{env.GOPATH}}/src/github.com/insolar
      - name: Publish integration tests results to testrail
        if: always()
        env:
          TR_USER: ${{ secrets.TR_USER }}
          TR_PASSWORD: ${{ secrets.TR_PASSWORD }}
        run: make publish_integration_tests
        working-directory: ${{env.GOPATH}}/src/github.com/insolar/assured-ledger/ledger-core
      - name: Publish functional tests results to testrail
        if: always()
        env:
          TR_USER: ${{ secrets.TR_USER }}
          TR_PASSWORD: ${{ secrets.TR_PASSWORD }}
        run: make publish_functest
        working-directory: ${{env.GOPATH}}/src/github.com/insolar/assured-ledger/ledger-core
      - name: Aggregate logs into a single archive
        if: always()
        run: tar --warning=no-file-changed -cvzf nodes-output.tgz .artifacts/launchnet/logs/discoverynodes/*/output.log || true
        working-directory: ${{env.GOPATH}}/src/github.com/insolar/assured-ledger/ledger-core
      - name: Run benchmarks
        run: make benchmarks
        working-directory: ${{env.GOPATH}}/src/github.com/insolar/assured-ledger/ledger-core
      - name: Aggregate logs after benchmarks
        run: tar --warning=no-file-changed -cvzf benchamrks-nodes-output.tgz .artifacts/launchnet/logs/discoverynodes/*/output.log || true
        working-directory: ${{env.GOPATH}}/src/github.com/insolar/assured-ledger/ledger-core
      - name: Upload logs to artifacts
        if: always()
        uses: actions/upload-artifact@v1
        with:
          name: nodes-output
          path: ${{env.GOPATH}}/src/github.com/insolar/assured-ledger/ledger-core/nodes-output.tgz
      - name: Upload logs to artifacts
        if: always()
        uses: actions/upload-artifact@v1
        with:
          name: nodes-output
          path: ${{env.GOPATH}}/src/github.com/insolar/assured-ledger/ledger-core/benchamrks-nodes-output.tgz
#      - name: Send failure notification to Slack
#        if: ${{ failure() }}
#        uses: 8398a7/action-slack@v3
#        with:
#          status: ${{ job.status }}
#          fields: repo,message,commit,author,action,eventName,ref,workflow
#        env:
#          SLACK_WEBHOOK_URL: ${{ secrets.ACTIONS_NOTIFICATIONS_SLACK_HOOK_URL }}
  functional-tests-master-on-kubernetes:
    name: func-test-kuber-on-master # don't change, this name is used in repository restricts!
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 1
      matrix:
        target: [k3s]
    env:
      GOPATH: /home/runner/work/
      V2_PATH: /home/runner/work/assured-ledger/assured-ledger/ledger-core
      USE_MANIFESTS: ci
      GOPROXY: https://proxy.golang.org,https://gocenter.io,direct
    steps:
      - name: Checkout code
        uses: actions/checkout@master
      - name: Preparation - github token for gitops access
        run: git config --global url."https://${{secrets.INS_SERVICE_PAT}}@github.com/".insteadOf "https://github.com/"
      - name: Preparation - set prerequisite variables, full sha is ${{github.sha}}
        env:
          TARGET: ${{matrix.target}}
        run: |
          echo "::set-env name=INSOLAR_TAG::${GITHUB_SHA:0:8}"
          echo "::set-env name=INSOLAR_NETWORK_SIZE::${TARGET}"
          echo "::set-env name=INSOLAR_NAMESPACE::${GITHUB_SHA:0:8}-${TARGET}"
          echo "::set-env name=INSOLAR_DESIRED_UPTIME::300"
          echo "::set-env name=INSOLAR_BRANCH::$(echo "pull-$(echo ${{github.ref}} | cut -d '/' -f3)")"
          echo "::set-env name=INSOLAR_NETWORK_SIZE_INT::$(echo $TARGET | awk '{gsub(/[^[0-9]]*/,"");print}')"
          echo "::set-env name=REPORT_WEBDAV_DIRECTORY::consensus-checks/$(date +"%Y%m%d-%H%M")-pull-$(echo ${{github.ref}} | cut -d '/' -f3)-${GITHUB_SHA:0:8}"
      - name: Set up go ${{env.GO_VERSION}}
        uses: actions/setup-go@v1
        with:
          go-version: ${{env.GO_VERSION}}
      - name: Add bin to path
        run: echo "::add-path::${{env.GOPATH}}/bin"
      - name: k3s
        uses: insolar/k3s-gha@master
        with:
          custom_registry: true
          registries_yaml_path: "ledger-core/scripts/deploy/kube/registries.yaml"
          kubectl_version: "v1.18.2"
      - name: deploy traefik
        run: kubectl apply -k ledger-core/scripts/deploy/kube/gitops/traefik
      - name: wait for traefik to be up and running
        run: kubectl -n kube-system rollout status deploy/traefik-ingress-controller --timeout=80s
      - name: deploy k3s-registry
        run: kubectl apply -k ledger-core/scripts/deploy/kube/gitops/k3s-registry
      - name: wait for registry to be up and running
        run: kubectl -n registry rollout status deploy/registry --timeout=80s
      - name: Go mod cache setup
        uses: actions/cache@v2
        with:
          path: ${{env.GOPATH}}/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: Fetch dependencies
        run: |
          go mod download
          make vendor
        working-directory: ${{env.V2_PATH}}
      - name: build images
        run: make docker-build
        working-directory: ${{env.V2_PATH}}
      - name: push assured ledger image to local registry
        run: |
          docker tag insolar/assured-ledger:latest localhost/assured-ledger:$INSOLAR_TAG
          docker push localhost/assured-ledger:$INSOLAR_TAG
      - name: build tools
        run: make install-build-tools
        working-directory: ${{env.V2_PATH}}
      - name: Deploy network
        run: kubectl kustomize ledger-core/scripts/deploy/kube/gitops/"$INSOLAR_NETWORK_SIZE" | envsubst '${INSOLAR_NAMESPACE} ${INSOLAR_TAG}' | kubectl -n $INSOLAR_NAMESPACE apply -f -
      - name: deploy ingress
        run: cat ledger-core/scripts/deploy/kube/k3s-ingressroute.yaml | envsubst '${INSOLAR_NAMESPACE}' | kubectl apply -f -
      - name: Rollout check (IF THIS STEP FAILED - CALL DEV, CHECK LOGS, YELLOW ALERT)
        run: kubectl -n $INSOLAR_NAMESPACE rollout status sts/virtual --timeout=10m
      - name: run tests
        run: make test_func_kubernetes_ci
        working-directory: ${{env.V2_PATH}}
#      - name: Send failure notification to Slack
#        if: ${{ failure() }}
#        uses: 8398a7/action-slack@v3
#        with:
#          status: ${{ job.status }}
#          fields: repo,message,commit,author,action,eventName,ref,workflow
#        env:
#          SLACK_WEBHOOK_URL: ${{ secrets.ACTIONS_NOTIFICATIONS_SLACK_HOOK_URL }}
